In [1]:
import pandas as pd

url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [6]:
dados.sample(5)

    home  how_it_works  contact  bought
44     0             0        1       0
63     0             1        0       0
36     1             0        1       1
48     1             1        0       0
98     0             0        0       0

In [7]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [11]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [21]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
modelo = LinearSVC()

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

modelo.fit(treino_x, treino_y)

LinearSVC()

In [22]:
from sklearn.metrics import accuracy_score #taxa de acerto / accuracy

prev = modelo.predict(teste_x)
accuracy_score(teste_y, prev) * 100

96.0

treino_x.shape

In [23]:
teste_x.shape

(25, 3)